# CONDITIONAL PROBABILITY USING PIVOT TABLE

In [90]:
import pandas as pd
import numpy as np

## what is the probability P(A|B), i.e Length >= 100 and Width >= 50 by Operator 1?

In [92]:
df = pd.read_csv('C:\\Users\\bhara\\Python\\Piece_Dim1.csv')       # reading csv

In [93]:
df['A'] = np.where((df['Length'] >= 100) & (df['Operator'] == 'Op-1'), 1, 0)  # filtering len gtr than 100 for op-1, true are 1, else 0

In [71]:
df['B'] = np.where((df['Width'] >= 50) & (df['Operator'] == 'Op-1'), 1, 0)

In [72]:
df['count'] = 1      # dummy array count is created

In [73]:
pt = df[['A','B','count']]    # masking

In [74]:
pt.head()

   A  B  count
0  1  0      1
1  1  1      1
2  0  1      1
3  0  0      1
4  1  0      1

In [83]:
pd.pivot_table(data=pt, values='count', index=['A'], columns=['B'], aggfunc=np.size)    # pivot table

B   0  1
A
0  35  5
1   6  4

In [84]:
a = (6 + 4) / (6 + 4 + 5 + 35)       # probability of length >= 100 for op-1

In [86]:
b= (5 + 4) / (6 + 4 + 5 + 35)        # probability of width >= 50 for op-1

In [87]:
a_int_b = 4 / (6 + 4 + 5 + 35)       # probability of length >= 100 and width >= 50 for op-1

In [98]:
p_a_hap_b = a_int_b / b             # probability of A happen when condition B happen

In [101]:
np.round(p_a_hap_b, 4)

0.4444