# Data Cleansing

In [1]:
import pandas as pd

In [2]:
# importing csv

In [45]:
df = pd.read_csv('C:\\UDEMY\\BUSINESS INTELLIGENCE ENGINEER\\Projects\\Data cleansing\\GBvideos-d.csv',encoding='latin1')

In [ ]:
df.info()

In [ ]:
df.drop(df.index[5001:], axis=0, inplace=True)

In [ ]:
df.head()

In [ ]:
# extracting unique values in the column category_id to create a column runtime and map it with category id

In [ ]:
df['category_id'].unique()

In [ ]:
runtime_dict = {10:7.2, 23:12.8, 24:9.3, 25:5.2, 22:17.3, 26:16.6,  1:4.4, 28:21.4, 20:11.3, 17:4.6, 29:3, 15:6.6, 19:10.9,  2:15, 27:12.96, 43:21.1, 30:30.8, 29:13.7, 44:21.2}

In [ ]:
df.insert(loc=4, column='runtime', value=df['category_id'].map(runtime_dict))

In [ ]:
df.insert(loc=0, column='country_name', value='Great Britain')

In [ ]:
df.info()

In [ ]:
# Creating the number of Accounts using youtube in GB on the basis of playback time, considering avg time spent per
# day by an account is 3.5hrs

In [ ]:
sum(df['playback_time'])

In [ ]:
# dividing total playback min by 24 to get per month playback min and then by 4 to get per week playback time

In [ ]:
((76553964117.95522/474665)/24)/4

In [ ]:
df.insert(loc = 0, column='total_account_number', value=474665)

In [ ]:
df.drop('Account No', axis=1, inplace=True)

In [ ]:
# Assuming that the videos with views greater than 10000000 has 35% views watches 70% of the total video length
# Remaining 65% views would have watched full length
# Rest of the Videos is 45% of the total views watches 55% of the video and rest of the watches full video

In [ ]:
def calculate(row):
  if row['views'] > 10000000:
    part1 = (0.35 * row['views']) * (0.7 * row['runtime'])
    part2 = (0.65 * row['views']) * row['runtime']
    return part1 + part2
  else:
    part3 = (0.45 * row['views']) * (0.55 * row['runtime'])
    part4 = (0.55 * row['views']) * row['runtime']
    return part3 + part4

In [ ]:
df.insert(loc = 6, column= 'playback_time', value= df.apply(calculate, axis=1))

In [ ]:
df.drop('Playback Time', axis=1, inplace = True)

In [ ]:
df.drop(df.columns[2], axis=1, inplace=True)

In [ ]:
df.head()

In [ ]:
# replacing unique trending_date as the dates having months greater than 12

In [ ]:
u_date = df['trending_date'].unique()
u_date

In [ ]:
n_date = ['17.01.11', '17.02.11', '17.03.11', '17.04.11', '17.05.11', '17.06.11',
 '17.07.11', '17.08.11', '17.09.11', '17.10.11', '17.11.11', '17.12.11',
 '21.04.11', '21.04.12', '17.12.12', '17.11.12', '17.10.12', '17.01.12',
 '17.02.12', '17.03.12', '17.04.12', '17.05.12', '17.06.12', '17.07.12',
 '17.08.12', '17.09.12']

In [ ]:
df['trending_date'].replace(u_date,n_date,inplace=True)

In [ ]:
df.head()

In [ ]:
df['trending_date'].unique()

In [ ]:
# checking for any null value in a column

In [ ]:
df.isnull().any()

In [ ]:
# filtering null values in column 'description'

In [ ]:
df[df['description'].isnull()]

In [ ]:
df.info()

In [ ]:
# replacing null values as object data type

In [ ]:
df['description'].fillna('not available', inplace=True)

In [ ]:
df['description'].isnull().any()

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
#checking any discrepancies in data type of a specific column

In [ ]:
runtime_type = df['runtime'].apply(type)

In [ ]:
runtime_type.unique()

In [ ]:
playback_type = df['playback_time'].apply(type)

In [ ]:
playback_type.unique()

In [ ]:
like_type = df['likes'].apply(type)

In [ ]:
like_type.unique()

In [ ]:
dislike_type = df['dislikes'].apply(type)

In [ ]:
dislike_type.unique()

In [ ]:
view_type = df['views'].apply(type)

In [ ]:
view_type.unique()

In [ ]:
# Renaming Column Names

In [ ]:
df.rename(columns= {'country_name':'Country', 'total_account_number':'Account No', 'video_id':'Video ID', 'trending_date':'Trending Date','title':'Title','runtime':'AVG Runtime','playback_time':'Playback Time','channel_title':'Channel Name','category_id':'Category','publish_time':'Publish Time','tags':'Tags','views':'Views','likes':'Likes','dislikes':'Dislikes','comment_count':'Comment Counts','thumbnail_link':'Thumbnail','comments_disabled':'Comments Disabled','ratings_disabled':'Ratings Disabled','description':'Description'},inplace=True)

In [ ]:
df.info()

In [ ]:
a = df['video_error_or_removed'].value_counts()[False]

In [ ]:
df.head()

In [ ]:
# changing data type for the column Playback Time to int

In [ ]:
df['Playback Time'] = df['Playback Time'].astype(int)

In [ ]:
df.head()

In [ ]:
df.to_csv('GBcleansed.csv')

In [ ]:
# Concatenating all cleaned sheets

In [ ]:
US_sheet = pd.read_csv('C:\\UDEMY\\BUSINESS INTELLIGENCE ENGINEER\\Projects\\Data cleansing\\cleansed data\\UScleansed.csv', encoding='latin1')
RU_sheet = pd.read_csv('C:\\UDEMY\\BUSINESS INTELLIGENCE ENGINEER\\Projects\\Data cleansing\\cleansed data\\RUcleansed.csv', encoding='latin1')
MX_sheet = pd.read_csv('C:\\UDEMY\\BUSINESS INTELLIGENCE ENGINEER\\Projects\\Data cleansing\\cleansed data\\MXcleansed.csv', encoding='latin1')
JP_sheet = pd.read_csv('C:\\UDEMY\\BUSINESS INTELLIGENCE ENGINEER\\Projects\\Data cleansing\\cleansed data\\JPcleansed.csv', encoding='latin1')
IN_sheet = pd.read_csv('C:\\UDEMY\\BUSINESS INTELLIGENCE ENGINEER\\Projects\\Data cleansing\\cleansed data\\INcleansed.csv', encoding='latin1')
GB_sheet = pd.read_csv('C:\\UDEMY\\BUSINESS INTELLIGENCE ENGINEER\\Projects\\Data cleansing\\cleansed data\\GBcleansed.csv', encoding='latin1')
DE_sheet = pd.read_csv('C:\\UDEMY\\BUSINESS INTELLIGENCE ENGINEER\\Projects\\Data cleansing\\cleansed data\\DEcleansed.csv', encoding='latin1')
CA_sheet = pd.read_csv('C:\\UDEMY\\BUSINESS INTELLIGENCE ENGINEER\\Projects\\Data cleansing\\cleansed data\\CAcleansed.csv', encoding='latin1')

In [ ]:
video_analysis_consol = pd.concat([US_sheet, RU_sheet, MX_sheet, JP_sheet, IN_sheet, GB_sheet, DE_sheet, CA_sheet])

In [ ]:
video_analysis_consol

In [ ]:
video_analysis_consol.info()

In [ ]:
# dropping index column

In [ ]:
video_analysis_consol.drop(columns = video_analysis_consol.columns[0], axis = 1, inplace=True)

In [ ]:
video_analysis_consol.info()

In [ ]:
# looking for any null values

In [ ]:
video_analysis_consol.isnull().any()

In [ ]:
video_analysis_consol.isnull().sum().sum()          # finding total null values in the table

In [ ]:
video_analysis_consol[video_analysis_consol['Country'].isnull()]

In [ ]:
video_analysis_consol.dropna(subset='Country', inplace=True)

In [ ]:
video_analysis_consol.isnull().any()

In [ ]:
video_analysis_consol.info()

In [ ]:
# looking for any discrepancy in the data type of a column

In [ ]:
d1 = video_analysis_consol['Account No'].apply(type)

In [ ]:
d1.unique()

In [ ]:
video_analysis_consol['Account No'].unique()

In [ ]:
video_analysis_consol['Account No'] = video_analysis_consol['Account No'].astype(int)

In [ ]:
video_analysis_consol['Account No'] = video_analysis_consol['Account No'].convert_dtypes(int)

In [ ]:
video_analysis_consol['Account No'].unique()

In [ ]:
d2 = video_analysis_consol['Account No'].apply(type)

In [ ]:
d2.unique()

In [ ]:
video_analysis_consol.info()

In [ ]:
count_type = video_analysis_consol['Country'].apply(type)

In [ ]:
count_type.unique()

In [ ]:
date_type = video_analysis_consol['Trending Date'].apply(type)

In [ ]:
date_type.unique()

In [ ]:
video_analysis_consol['Trending Date'].unique()

In [ ]:
video_analysis_consol['Trending Date'] = pd.to_datetime(video_analysis_consol['Trending Date'], format='%d.%m.%y')

In [ ]:
date_type1 = video_analysis_consol['Trending Date'].apply(type)

In [ ]:
date_type1.unique()

In [ ]:
video_analysis_consol.head()

In [ ]:
title_type = video_analysis_consol['Title'].apply(type)

In [ ]:
title_type.unique()

In [ ]:
runtime_type = video_analysis_consol['AVG Runtime'].apply(type)

In [ ]:
runtime_type.unique()

In [ ]:
plbtime_type = video_analysis_consol['Playback Time'].apply(type)

In [ ]:
plbtime_type.unique()

In [ ]:
publ_type = video_analysis_consol['Publish Time'].apply(type)

In [ ]:
publ_type.unique()

In [ ]:
video_analysis_consol['Publish Time'] = pd.to_datetime(video_analysis_consol['Publish Time'])

In [ ]:
video_analysis_consol['Publish Time'] = video_analysis_consol['Publish Time'].dt.strftime('%d.%m.%y')

In [ ]:
video_analysis_consol['Publish Time'] = pd.to_datetime(video_analysis_consol['Publish Time'], format='%d.%m.%y')

In [ ]:
publ1_type = video_analysis_consol['Publish Time'].apply(type)

In [ ]:
publ1_type.unique()

In [ ]:
video_analysis_consol.head()

In [ ]:
cat_type = video_analysis_consol['Category'].apply(type)

In [ ]:
cat_type.unique()

In [ ]:
video_analysis_consol['Category'] = round(video_analysis_consol['Category'])

In [ ]:
video_analysis_consol['Category'] = video_analysis_consol['Category'].convert_dtypes(int)

In [ ]:
cat1_type = video_analysis_consol['Category'].apply(type)

In [ ]:
cat1_type.unique()

In [ ]:
views_type = video_analysis_consol['Views'].apply(type)

In [ ]:
views_type.unique()

In [ ]:
video_analysis_consol['Views'] = round(video_analysis_consol['Views'])

In [ ]:
video_analysis_consol['Views'] = video_analysis_consol['Views'].convert_dtypes(int)

In [ ]:
views1_type = video_analysis_consol['Views'].apply(type)

In [ ]:
views1_type.unique()

In [ ]:
like_type = video_analysis_consol['Likes'].apply(type)

In [ ]:
like_type.unique()

In [ ]:
video_analysis_consol['Likes'] = round(video_analysis_consol['Likes'])

In [ ]:
video_analysis_consol['Likes'] = video_analysis_consol['Likes'].convert_dtypes(int)

In [ ]:
like1_type = video_analysis_consol['Likes'].apply(type)

In [ ]:
like1_type.unique()

In [ ]:
dislike_type = video_analysis_consol['Dislikes'].apply(type)

In [ ]:
dislike_type.unique()

In [ ]:
video_analysis_consol['Dislikes'] = round(video_analysis_consol['Dislikes'])

In [ ]:
video_analysis_consol['Dislikes'] = video_analysis_consol['Dislikes'].convert_dtypes(int)

In [ ]:
dislike1_type = video_analysis_consol['Dislikes'].apply(type)

In [ ]:
dislike1_type.unique()

In [ ]:
comment_type = video_analysis_consol['Comment Counts'].apply(type)

In [ ]:
comment_type.unique()

In [ ]:
video_analysis_consol['Comment Counts'] = round(video_analysis_consol['Comment Counts'])

In [ ]:
video_analysis_consol['Comment Counts'] = video_analysis_consol['Comment Counts'].convert_dtypes(int)

In [ ]:
comment1_type = video_analysis_consol['Comment Counts'].apply(type)

In [ ]:
comment1_type.unique()

In [ ]:
video_analysis_consol.drop('Tags', axis=1, inplace=True)

In [ ]:
video_analysis_consol.drop('Thumbnail', axis=1, inplace=True)

In [ ]:
video_analysis_consol.head()

In [ ]:
video_analysis_consol[video_analysis_consol['video_error_or_removed']==True]

In [ ]:
video_analysis_consol.to_csv('final1.csv')

In [ ]:
video_analysis_consol.drop(video_analysis_consol[video_analysis_consol['video_error_or_removed']==True].index, inplace=True)

In [ ]:
video_analysis_consol.info()

In [ ]:
video_analysis_consol.drop(columns='Comments Disabled', axis=1, inplace=True)

In [ ]:
video_analysis_consol.drop(columns='Ratings Disabled', axis=1, inplace=True)

In [ ]:
video_analysis_consol.info()

In [ ]:
video_analysis_consol.isnull().any()

In [ ]:
descript_type = video_analysis_consol['Description'].apply(type)

In [ ]:
descript_type.unique()

In [ ]:
video_analysis_consol.drop(columns='Description', inplace=True)

In [ ]:
video_analysis_consol.drop(columns='video_error_or_removed', inplace=True)

In [ ]:
video_analysis_consol.drop(columns='Channel Name', inplace=True)

In [ ]:
video_analysis_consol.drop(columns='Video ID', inplace=True)

In [ ]:
video_analysis_consol.info()

In [ ]:
video_analysis_consol.rename(columns={'Account No':'Total Accounts / Country', 'Country':'Territory', 'Trending Date':'Trending Date (yyyy-mm-dd)', 'Title':'Active Title Name', 'AVG Runtime': 'AVG Runtime Per Ctgry / min','Playback Time':'Playback Time / min', 'Publish Time':'Title Publish Date (yyyy-mm-dd)', 'Comment Counts':'Comments'}, inplace=True)

In [ ]:
video_analysis_consol.to_csv('Vide_analysis_cleansed_data.csv')

In [ ]:
video_analysis_consol.info()

In [ ]:
video_analysis_consol['Territory'].unique()

In [ ]:
df['Active Title Name'].unique()

In [ ]:
# cleaning title name which has irregular capitalizations

In [ ]:
df['Active Title Name'] = df['Active Title Name'].apply(lambda x : x.strip().capitalize())

In [ ]:
df['Active Title Name'].unique()

In [ ]:
df.to_csv('cleaned_data.csv')

In [2]:
df1 = pd.read_csv('C:\\UDEMY\\BUSINESS INTELLIGENCE ENGINEER\\Projects\\Data cleansing\\cleaned_data.csv')

In [3]:
df1.head()

,Unnamed: 0,Total Accounts / Country,Territory,Trending Date (yyyy-mm-dd),Active Title Name,AVG Runtime Per Ctgry / min,Playback Time / min,Category,Title Publish Date (yyyy-mm-dd),Views,Likes,Dislikes,Comments
0,0,326113,America,1/17/2011,We want to talk about our marriage,17.3,10325128,22,11/13/2017,748374,57527,2966,15954
1,1,326113,America,1/17/2011,The trump presidency: last week tonight with j...,9.3,17939508,24,11/13/2017,2418783,97185,6146,12703
2,2,326113,America,1/17/2011,"Racist superman | rudy mancuso, king bach & le...",12.8,32578158,23,11/12/2017,3191434,146033,5339,8181
3,3,326113,America,1/17/2011,Nickelback lyrics: real or fake?,9.3,2545191,24,11/13/2017,343168,10172,666,2146
4,4,326113,America,1/17/2011,I dare you: going bald!?,9.3,15543512,24,11/12/2017,2095731,132235,1989,17518

In [4]:
df1.drop(columns=df1.columns[0], axis = 1, inplace = True)

In [5]:
df1.head()

,Total Accounts / Country,Territory,Trending Date (yyyy-mm-dd),Active Title Name,AVG Runtime Per Ctgry / min,Playback Time / min,Category,Title Publish Date (yyyy-mm-dd),Views,Likes,Dislikes,Comments
0,326113,America,1/17/2011,We want to talk about our marriage,17.3,10325128,22,11/13/2017,748374,57527,2966,15954
1,326113,America,1/17/2011,The trump presidency: last week tonight with j...,9.3,17939508,24,11/13/2017,2418783,97185,6146,12703
2,326113,America,1/17/2011,"Racist superman | rudy mancuso, king bach & le...",12.8,32578158,23,11/12/2017,3191434,146033,5339,8181
3,326113,America,1/17/2011,Nickelback lyrics: real or fake?,9.3,2545191,24,11/13/2017,343168,10172,666,2146
4,326113,America,1/17/2011,I dare you: going bald!?,9.3,15543512,24,11/12/2017,2095731,132235,1989,17518

In [ ]:
# Selecting Inconsistent title name

In [6]:
df1[df1['Territory'] == 'Russia']['Active Title Name']

4997    Ðð°ñ
ð°ñ ð¸ ðð¾ð»ð¸ð½ð° ññð°ñññ ñðºð¾...
4998    Ðð¸ñð¶ð° ððµð¼ð¾ð² #29. ðð¾ð»ññð¾ð¸ì ð²...
4999    Ð¥ððð ðð­ðð - ð¡ððð ð¡ð ððð ð§ð£ð...
5000    Ð¡ð¾ñð½ð°ñ ðºðµñð°ð´ð¸ð»ññ ñ ðºññð¸ñðµð¹
5001    Ððððð« ð ðððð¢ðððð ðð ð¨ðððð¬ð...
                              ...
9989    Ð¡ð°ð¼ñð¹ ñð±ññð¾ñð½ñð¹ volkswagen!  ðð...
9990    Ð®ð¶ð½ð°ñ ðð¾ñðµñ ð² ñð¾ðºðµ ð¾ñ ñð°ðºð...
9991    +100500 - ðð¾ñðµð¼ñ ððµð»ñð·ñ ðð°ññð¿...
9992    Ððð ððððð¦! ð¡ð½ð¾ð²ð°...[ð¢ð¾ð¿ ð¡ð¸ðº...
9993    Ððµð¿ð¾ññðµð´ññð²ðµð½ð½ð¾ ðð°ñ
ð° -- ðð...
Name: Active Title Name, Length: 4997, dtype: object

In [ ]:
# Encoding and Decoding to eliminate special characters

In [7]:
import re

In [8]:
def clean_text(text):
    decoded_text = text.encode('latin1').decode('latin-1', errors = 'ignore')
    cleaned_text = re.sub(r'[^\x00-\x7F]+', '', decoded_text)
    return cleaned_text

In [9]:
df1['Active Title Name'] = df1['Active Title Name'].apply(clean_text)

In [10]:
df1[df1['Territory'] == 'Russia']['Active Title Name']

4997
4998                      #29.
4999                        -
5000
5001
                  ...
9989      volkswagen!   phaeton.
9990
9991           +100500 -      ?!
9992                    ! ...[ ]
9993                  --   4  8
Name: Active Title Name, Length: 4997, dtype: object

In [210]:
df1.isnull().any()

Total Accounts / Country           False
Territory                          False
Trending Date (yyyy-mm-dd)         False
Active Title Name                  False
AVG Runtime Per Ctgry / min        False
Playback Time / min                False
Category                           False
Title Publish Date (yyyy-mm-dd)    False
Views                              False
Likes                              False
Dislikes                           False
Comments                           False
dtype: bool

In [ ]:
# Selecting rows that has only space due to removal of special characters

In [11]:
df1[df1['Active Title Name'] == '']['Active Title Name'].count()

1161

In [59]:
index_list = []

In [60]:
index_list = df1[df1['Active Title Name'].str.strip() == ''].index  # Creating Index of those rows as a list

In [61]:
print (index_list)

Int64Index([ 3362,  4997,  5000,  5001,  5014,  5015,  5019,  5028,  5030,
             5062,
            ...
            37862, 37904, 37906, 38165, 38352, 38504, 38707, 38726, 39715,
            39754],
           dtype='int64', length=2014)

In [65]:
df1.iloc[index_list]

,Total Accounts / Country,Territory,Trending Date (yyyy-mm-dd),Active Title Name,AVG Runtime Per Ctgry / min,Playback Time / min,Category,Title Publish Date (yyyy-mm-dd),Views,Likes,Dislikes,Comments
3362,326113,America,10/17/2012,,5.2,749408,25,11/24/2017,180711,1667,418,1082
4997,87290,Russia,1/17/2011,,17.3,861027,22,11/13/2017,62408,334,190,50
5000,87290,Russia,1/17/2011,,17.3,1556977,22,11/13/2017,112851,3566,122,80
5001,87290,Russia,1/17/2011,,9.3,1805748,24,11/13/2017,243469,36216,631,1692
5014,87290,Russia,1/17/2011,,15.0,4333475,2,11/13/2017,362255,13776,874,1331
...,...,...,...,...,...,...,...,...,...,...,...,...
38504,350453,Canada,1/17/2012,,5.2,331270,25,11/29/2017,79882,1038,65,377
38707,350453,Canada,2/17/2012,,17.3,3523883,22,11/30/2017,255414,224,280,74
38726,350453,Canada,2/17/2012,,5.2,235897,25,12/1/2017,56884,455,32,89
39715,350453,Canada,7/17/2012,,5.2,203978,25,12/5/2017,49187,1317,194,579
39754,350453,Canada,7/17/2012,,5.2,4425317,25,12/4/2017,1067113,0,0,1684

In [66]:
df1.drop(index_list, inplace=True)            #  dropping those rows which has Active Title Name with only space

In [67]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37962 entries, 0 to 39975
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Total Accounts / Country         37962 non-null  int64
 1   Territory                        37962 non-null  object
 2   Trending Date (yyyy-mm-dd)       37962 non-null  object
 3   Active Title Name                37962 non-null  object
 4   AVG Runtime Per Ctgry / min      37962 non-null  float64
 5   Playback Time / min              37962 non-null  int64
 6   Category                         37962 non-null  int64
 7   Title Publish Date (yyyy-mm-dd)  37962 non-null  object
 8   Views                            37962 non-null  int64
 9   Likes                            37962 non-null  int64
 10  Dislikes                         37962 non-null  int64
 11  Comments                         37962 non-null  int64
dtypes: float64(1), int64(7), object(4)
memory usage: 3.8+ MB

In [68]:
df1.reset_index(drop=True, inplace=True)            # reseting index

In [69]:
df1.head()

,Total Accounts / Country,Territory,Trending Date (yyyy-mm-dd),Active Title Name,AVG Runtime Per Ctgry / min,Playback Time / min,Category,Title Publish Date (yyyy-mm-dd),Views,Likes,Dislikes,Comments
0,326113,America,1/17/2011,We want to talk about our marriage,17.3,10325128,22,11/13/2017,748374,57527,2966,15954
1,326113,America,1/17/2011,The trump presidency: last week tonight with j...,9.3,17939508,24,11/13/2017,2418783,97185,6146,12703
2,326113,America,1/17/2011,"Racist superman | rudy mancuso, king bach & le...",12.8,32578158,23,11/12/2017,3191434,146033,5339,8181
3,326113,America,1/17/2011,Nickelback lyrics: real or fake?,9.3,2545191,24,11/13/2017,343168,10172,666,2146
4,326113,America,1/17/2011,I dare you: going bald!?,9.3,15543512,24,11/12/2017,2095731,132235,1989,17518

In [70]:
df1[df1['Territory'] == 'Russia']['Active Title Name']         # Selecting title for understanding more inconsistencies

4996                                        #29.
4997                                          -
4998                     / versus fresh blood 4:
4999                                       + 1
5000                                       ,
                           ...
9495        #6     . guangzhou food festival 2017.
9496                        volkswagen!   phaeton.
9497                             +100500 -      ?!
9498                                      ! ...[ ]
9499                                    --   4  8
Name: Active Title Name, Length: 4504, dtype: object

In [ ]:
# Selecting whether string in Active Title Name column contains any special character within the contains()

In [73]:
unwanted_characters = df1['Active Title Name'].str.contains('^[!@#$%^&*()_+={}[\]|\\:;"<,>.?/~`-]+$')

In [83]:
unwanted_characters.unique()

array([False,  True])

In [88]:
unwanted_characters[unwanted_characters == True].count()

117

In [89]:
df1.drop(df1[unwanted_characters].index, inplace=True)     # Dropping those 117 rows

In [91]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37845 entries, 0 to 37961
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Total Accounts / Country         37845 non-null  int64
 1   Territory                        37845 non-null  object
 2   Trending Date (yyyy-mm-dd)       37845 non-null  object
 3   Active Title Name                37845 non-null  object
 4   AVG Runtime Per Ctgry / min      37845 non-null  float64
 5   Playback Time / min              37845 non-null  int64
 6   Category                         37845 non-null  int64
 7   Title Publish Date (yyyy-mm-dd)  37845 non-null  object
 8   Views                            37845 non-null  int64
 9   Likes                            37845 non-null  int64
 10  Dislikes                         37845 non-null  int64
 11  Comments                         37845 non-null  int64
dtypes: float64(1), int64(7), object(4)
memory usage: 3.8+ MB

In [92]:
df1[df1['Territory'] == 'Russia']['Active Title Name']     # Selecting title for understanding more inconsistencies

4996                                        #29.
4997                                          -
4998                     / versus fresh blood 4:
4999                                       + 1
5000                                       ,
                           ...
9495        #6     . guangzhou food festival 2017.
9496                        volkswagen!   phaeton.
9497                             +100500 -      ?!
9498                                      ! ...[ ]
9499                                    --   4  8
Name: Active Title Name, Length: 4504, dtype: object

In [133]:
unwanted_characters1 = []

In [ ]:
# Selecting whether string in Active Title Name column contains only special character within the match()

In [134]:
unwanted_characters1 = df1['Active Title Name'].str.match('^[!@#$%^&*()_+={}[\]|\\:;"<,>.?/~`\\-0-9]*$')

In [135]:
unwanted_characters1.unique()

array([False,  True])

In [136]:
df1[unwanted_characters1 == True]

,Total Accounts / Country,Territory,Trending Date (yyyy-mm-dd),Active Title Name,AVG Runtime Per Ctgry / min,Playback Time / min,Category,Title Publish Date (yyyy-mm-dd),Views,Likes,Dislikes,Comments
5325,87290,Russia,2/17/2011,6,5.2,94443,25,11/8/2017,22774,25,1,35
14499,111843,Japan,1/17/2011,5,5.2,399169,25,2/6/2018,96255,1165,277,545
14502,111843,Japan,1/17/2011,2382201825,6.6,403294,15,2/6/2018,76621,545,16,0
14504,111843,Japan,1/17/2011,2!,16.6,1599528,26,2/6/2018,120824,5699,89,699
14516,111843,Japan,1/17/2011,2018,4.6,21332,17,2/6/2018,5815,48,19,17
...,...,...,...,...,...,...,...,...,...,...,...,...
37610,350453,Canada,7/17/2012,53,17.3,759593,22,12/5/2017,55056,27,2,5
37690,350453,Canada,7/17/2012,20171205264,5.2,438677,25,12/6/2017,105782,1088,85,946
37702,350453,Canada,7/17/2012,8.1,4.4,1043534,1,12/4/2017,297388,4776,97,756
37731,350453,Canada,7/17/2012,2017.12.5,5.2,196808,25,12/5/2017,47458,366,39,181
37952,350453,Canada,8/17/2012,20171206265,5.2,438586,25,12/6/2017,105760,860,64,537

In [138]:
df1.drop(df1[unwanted_characters1].index, inplace=True)      # dropping those 487 rows

In [139]:
df1[df1['Territory'] == 'Russia']['Active Title Name']

4996                                        #29.
4997                                          -
4998                     / versus fresh blood 4:
4999                                       + 1
5000                                       ,
                           ...
9495        #6     . guangzhou food festival 2017.
9496                        volkswagen!   phaeton.
9497                             +100500 -      ?!
9498                                      ! ...[ ]
9499                                    --   4  8
Name: Active Title Name, Length: 4503, dtype: object

In [183]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37358 entries, 0 to 37961
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Total Accounts / Country         37358 non-null  int64
 1   Territory                        37358 non-null  object
 2   Trending Date (yyyy-mm-dd)       37358 non-null  object
 3   Active Title Name                37358 non-null  object
 4   AVG Runtime Per Ctgry / min      37358 non-null  float64
 5   Playback Time / min              37358 non-null  int64
 6   Category                         37358 non-null  int64
 7   Title Publish Date (yyyy-mm-dd)  37358 non-null  datetime64[ns]
 8   Views                            37358 non-null  int64
 9   Likes                            37358 non-null  int64
 10  Dislikes                         37358 non-null  int64
 11  Comments                         37358 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(3)
memory usage: 3.7+ MB

In [185]:
df1.drop('Title Publish Date (yyyy-mm-dd)', axis = 1, inplace=True)    # Dropping publish date column

In [ ]:
# Changing the data type of Trending data column to datetime64

In [186]:
df1['Trending Date (yyyy-mm-dd)'] = pd.to_datetime(df1['Trending Date (yyyy-mm-dd)'])

In [189]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37358 entries, 0 to 37961
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Total Accounts / Country     37358 non-null  int64
 1   Territory                    37358 non-null  object
 2   Trending Date (yyyy-mm-dd)   37358 non-null  datetime64[ns]
 3   Active Title Name            37358 non-null  object
 4   AVG Runtime Per Ctgry / min  37358 non-null  float64
 5   Playback Time / min          37358 non-null  int64
 6   Category                     37358 non-null  int64
 7   Views                        37358 non-null  int64
 8   Likes                        37358 non-null  int64
 9   Dislikes                     37358 non-null  int64
 10  Comments                     37358 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(2)
memory usage: 3.4+ MB

In [197]:
df1['Active Title Name'].apply(type).unique()

array([<class 'str'>], dtype=object)

In [204]:
unwanted_characters2 = []

In [ ]:
# using invert mask to select rows with no alphabets

In [205]:
unwanted_characters2 = ~df1['Active Title Name'].str.contains('[a-zA-Z]')

In [207]:
unwanted_characters2.unique()

array([False,  True])

In [208]:
df1[unwanted_characters2]

,Total Accounts / Country,Territory,Trending Date (yyyy-mm-dd),Active Title Name,AVG Runtime Per Ctgry / min,Playback Time / min,Category,Views,Likes,Dislikes,Comments
4996,87290,Russia,2011-01-17,#29.,17.3,4553520,22,330043,43841,2244,2977
4997,87290,Russia,2011-01-17,-,9.3,3149122,24,424596,49854,714,2944
4999,87290,Russia,2011-01-17,+ 1,21.4,19316735,28,1131851,78692,2427,4114
5000,87290,Russia,2011-01-17,",",17.3,1338367,22,97006,2259,330,887
5003,87290,Russia,2011-01-17,. .,12.8,4285675,23,419835,27738,656,4681
...,...,...,...,...,...,...,...,...,...,...,...
37752,350453,Canada,2012-07-17,90 20171205 (),5.2,559355,25,134882,341,98,933
37783,350453,Canada,2012-08-17,30,17.3,904970,22,65593,38,27,103
37908,350453,Canada,2012-08-17,- /,17.3,17670642,22,1280783,113564,2898,16045
37921,350453,Canada,2012-08-17,2017.12.06,5.2,481064,25,116003,0,0,394
37940,350453,Canada,2012-08-17,2017 12 7 () - -,5.2,421165,25,101559,797,86,276

In [209]:
df1.drop(df1[unwanted_characters2].index, inplace=True)   # dropping 4101 rows

In [210]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33257 entries, 0 to 37961
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Total Accounts / Country     33257 non-null  int64
 1   Territory                    33257 non-null  object
 2   Trending Date (yyyy-mm-dd)   33257 non-null  datetime64[ns]
 3   Active Title Name            33257 non-null  object
 4   AVG Runtime Per Ctgry / min  33257 non-null  float64
 5   Playback Time / min          33257 non-null  int64
 6   Category                     33257 non-null  int64
 7   Views                        33257 non-null  int64
 8   Likes                        33257 non-null  int64
 9   Dislikes                     33257 non-null  int64
 10  Comments                     33257 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(2)
memory usage: 3.0+ MB

In [ ]:
# renaming inconsistent column

In [212]:
df1 = df1.rename(columns={'AVG Runtime Per Ctgry / min':'AVG Runtime Per ctgry'})

In [213]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33257 entries, 0 to 37961
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Total Accounts / Country    33257 non-null  int64
 1   Territory                   33257 non-null  object
 2   Trending Date (yyyy-mm-dd)  33257 non-null  datetime64[ns]
 3   Active Title Name           33257 non-null  object
 4   AVG Runtime Per ctgry       33257 non-null  float64
 5   Playback Time / min         33257 non-null  int64
 6   Category                    33257 non-null  int64
 7   Views                       33257 non-null  int64
 8   Likes                       33257 non-null  int64
 9   Dislikes                    33257 non-null  int64
 10  Comments                    33257 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(2)
memory usage: 3.0+ MB

In [214]:
df1 = df1.rename(columns={'AVG Runtime Per ctgry':'AVG Runtime Per ctgry / min', 'Total Accounts / Country':'Total Active Accounts / Country'})

In [215]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33257 entries, 0 to 37961
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Total Active Accounts / Country  33257 non-null  int64
 1   Territory                        33257 non-null  object
 2   Trending Date (yyyy-mm-dd)       33257 non-null  datetime64[ns]
 3   Active Title Name                33257 non-null  object
 4   AVG Runtime Per ctgry / min      33257 non-null  float64
 5   Playback Time / min              33257 non-null  int64
 6   Category                         33257 non-null  int64
 7   Views                            33257 non-null  int64
 8   Likes                            33257 non-null  int64
 9   Dislikes                         33257 non-null  int64
 10  Comments                         33257 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(2)
memory usage: 3.0+ MB

In [218]:
df1.reset_index(drop=True, inplace=True)      # reindexing rows after dropping rows

In [219]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33257 entries, 0 to 33256
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Total Active Accounts / Country  33257 non-null  int64
 1   Territory                        33257 non-null  object
 2   Trending Date (yyyy-mm-dd)       33257 non-null  datetime64[ns]
 3   Active Title Name                33257 non-null  object
 4   AVG Runtime Per ctgry / min      33257 non-null  float64
 5   Playback Time / min              33257 non-null  int64
 6   Category                         33257 non-null  int64
 7   Views                            33257 non-null  int64
 8   Likes                            33257 non-null  int64
 9   Dislikes                         33257 non-null  int64
 10  Comments                         33257 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(2)
memory usage: 2.8+ MB

In [237]:
df1.drop_duplicates(subset=['Territory','Trending Date (yyyy-mm-dd)','Active Title Name','Category'], inplace=True)

In [238]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32514 entries, 0 to 33256
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Total Active Accounts / Country  32514 non-null  int64
 1   Territory                        32514 non-null  object
 2   Trending Date (yyyy-mm-dd)       32514 non-null  datetime64[ns]
 3   Active Title Name                32514 non-null  object
 4   AVG Runtime Per ctgry / min      32514 non-null  float64
 5   Playback Time / min              32514 non-null  int64
 6   Category                         32514 non-null  int64
 7   Views                            32514 non-null  int64
 8   Likes                            32514 non-null  int64
 9   Dislikes                         32514 non-null  int64
 10  Comments                         32514 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(2)
memory usage: 3.0+ MB

In [239]:
df1.reset_index(drop=True, inplace=True)

In [244]:
df1

,Total Active Accounts / Country,Territory,Trending Date (yyyy-mm-dd),Active Title Name,AVG Runtime Per ctgry / min,Playback Time / min,Category,Views,Likes,Dislikes,Comments
0,326113,America,2011-01-17,We want to talk about our marriage,17.3,10325128,22,748374,57527,2966,15954
1,326113,America,2011-01-17,The trump presidency: last week tonight with j...,9.3,17939508,24,2418783,97185,6146,12703
2,326113,America,2011-01-17,"Racist superman | rudy mancuso, king bach & le...",12.8,32578158,23,3191434,146033,5339,8181
3,326113,America,2011-01-17,Nickelback lyrics: real or fake?,9.3,2545191,24,343168,10172,666,2146
4,326113,America,2011-01-17,I dare you: going bald!?,9.3,15543512,24,2095731,132235,1989,17518
...,...,...,...,...,...,...,...,...,...,...,...
32509,350453,Canada,2012-09-17,Youtube rewind: the shape of 2017 | #youtubere...,9.3,632331875,24,75969469,2251826,1127811,827755
32510,350453,Canada,2012-09-17,Why i'm not in youtube rewind 2017,12.8,70394653,23,6896028,513555,9505,64656
32511,350453,Canada,2012-09-17,"Migos, nicki minaj, cardi b - motorsport",7.2,25920949,10,4514272,238398,9020,35027
32512,350453,Canada,2012-09-17,Logic solves a rubik's cube while eating spicy...,16.6,33599048,26,2537980,149013,2930,18632
32513,350453,Canada,2012-09-17,2017 youtube rewind rant! (diss track?),9.3,12585839,24,1696948,196533,11937,56255

In [245]:
df1.to_csv('Final_cleansed_video_analysis.csv')